*{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    background-color: #F9D0A3 ;
}

nav{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 0;
}

.logo img{
    width: 100px;
    border-radius: 50px;
}

.links {
    width: 30%;
}

.links ul{
    display: flex;
    justify-content: space-around;
}

.links li{
    list-style-type: none;
}

.links a{
    text-decoration: none;
    color: #151217;
    font-size: 20px;
    cursor: pointer;
    padding-bottom: 0.5em;
    background-image: linear-gradient(#DA001E,#DA001E);
    background-size: 0% 0.1em;
    background-position-x: 50%;
    background-position-y: 100%;
    background-repeat: no-repeat;
    transition: background-size ease-in-out 0.5s;
    -webkit-transition: background-size ease-in-out 0.5s;
    -moz-transition: backgroung-size ease-in-out 0.5s;
    -ms-transition: background-size ease-in-out 0.5s;
    -o-transition: background-size ease-in-out 0.5s;
}

.links a:hover{
    background-size: 100% 0.15em;


}



