*{
    margin: 0;
    padding: 0;
}

footer{
    width: 100%;
    background-color: #F9D0A3;
    position: absolute;
    bottom: 0;
}

p{
    color: #151217;
    font-weight: 700;
    margin-bottom: 1em;
}

.social{
    width: 10%;
    margin: 2em auto;
    text-align: center;
}

.social ul{
    display: flex;
    justify-content: space-between;
}

.social li{
    list-style-type: none;
}

.social img {
    width: 30px;
}

hr{
    width: 20%;
    margin: 2em auto;
    color: #FFFF;
}

.mentions{
    width: 50%;
    margin: 0 auto;
    padding: 1em;
    margin-bottom: 1em;

}

.whitespace{
    text-align: center;
    color: #151217;

}

.bold{
    font-weight: bold;
}

